@import forms.NewsForm.NewsData

@(form: Form[NewsData], postUrl: Call, update: Boolean)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("News") {
    <h1>News</h1>

    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
          <div>@error.key: @error.message</div>
        }
    }

    @helper.form(postUrl) {
        @helper.CSRF.formField

        @if(update) {
            @helper.inputText(form("id"), 'readonly -> "readonly")
        } else {
            @helper.inputText(form("id"))
        }
        @helper.inputText(form("title"))
        @helper.inputText(form("body"))


        <button>@(if (update) "Update" else "Create")</button>
    }
}